<?xml version="1.0" ?>
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${function}] ${message}" />
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find robotont_driver)/config/console.conf" />

  <arg name="realsense" default="true" />

<rosparam if="$(arg realsense)">
/camera/aligned_depth_to_color/image_raw/compressedDepth/png_level: 5
</rosparam>

  <include if="$(arg realsense)" file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"/>

  <include if="$(arg realsense)" file="$(find robotont_support)/launch/cam_throttling.launch">
    <arg name="cam_fps" value="5" />
  </include>

  <rosparam ns="robotont" file="$(find robotont_driver)/config/robotont_params.yaml" command="load" />
  <node ns="robotont" pkg="robotont_driver" name="driver_node" type="driver_node" output="screen" />

  <param if="$(arg realsense)" name="/robotont/robot_description" command="$(find xacro)/xacro $(find robotont_nuc_description)/urdf/robotont_realsense.urdf.xacro use_nominal_extrinsics:=false add_plug:=false" />
  <param unless="$(arg realsense)" name="/robotont/robot_description" command="$(find xacro)/xacro $(find robotont_description)/urdf/robotont_base.urdf.xacro" />

   <!-- State publishers -->
  <node ns="/robotont" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node ns="/robotont" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>

