<?xml version="1.0" ?>
<launch>
  <!--
    '__ns' is needed as an explicit argument because it does not propagate as an argument to the included launch files.
    as eval may not contain double underscore expressions, a new argument (eval_underscore_bypass) is defined to by-pass this issue.
    when a namespace is specified, it is also converted into prefix with a trailing slash.
  -->
  <env name="ROSCONSOLE_FORMAT" value="[${function}] ${message}" />
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find robotont_driver)/config/console.conf" />

  <arg name="realsense" default="true" />
  <arg name="__ns" default=""/>
  <arg name="eval_underscore_bypass" value="$(arg __ns)"/>
  <arg if="$(eval eval_underscore_bypass == '')" name="prefix" default=''/>
  <arg unless="$(eval eval_underscore_bypass == '')" name="prefix" default="$(arg __ns)/"/>
 
  <rosparam if="$(arg realsense)">
  /camera/aligned_depth_to_color/image_raw/compressedDepth/png_level: 5
  </rosparam>

  <include file="$(find robotont_driver)/launch/driver_basic.launch">
    <arg name="__ns" value="$(arg __ns)"/>
  </include>

  <group if="$(arg realsense)">
    <include file="$(find robotont_support)/launch/cam_throttling.launch">
      <arg name="cam_fps" value="5" />
    </include>
    <include file="$(find robotont_support)/launch/cam_throttling.launch">
      <arg name="cam_fps" value="5" />
    </include>
    <include file="$(find robotont_nuc_description)/launch/upload_description.launch">
      <arg name="__ns" value="$(arg __ns)"/>
    </include>
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">
      <arg name="tf_prefix" value="$(arg prefix)camera"/>
    </include>
  </group>

  <group if="$(arg realsense)">
  <include file="$(find robotont_description)/launch/upload_description.launch">
    <arg name="__ns" value="$(arg __ns)"/>
  </include>
  </group>

   <!-- State publishers -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
